<!DOCTYPE html>
<html>
  <head>
    <title>DemoJav</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/preloader' %>
    <div id="main-wrapper">
      <%= render 'shared/topbar' %>
      <%= render 'shared/left_sidebar' %>
      <div class="page-wrapper">
        <%= render 'shared/page_breadcrumb' %>
        <div class="container-fluid">
          <%= yield %>
        </div>
        <%= render 'shared/footer' %>
      </div>
    </div>
    <%= yield(:javascript) %>
  </body>
</html>
